## 数据库数据读取

In [4]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:531820@127.0.0.1:3306/testdb?charset=utf8')
print(engine) # 创建一个连接
import pandas as pd
formlist = pd.read_sql_query('show tables', con=engine)
print(formlist)

Engine(mysql+pymysql://root:***@127.0.0.1:3306/testdb?charset=utf8)
          Tables_in_testdb
0                CANDY_TBL
1             CUSTOMER_TBL
2   CUSTOMER_TBL_DUPLICATE
3                      EMP
4         EMPLOYEE_PAY_TBL
5             EMPLOYEE_TBL
6              EMP_PAY_TMP
7               ORDERS_TBL
8            POSITIONS_TBL
9             PRODUCTS_TBL
10            PRODUCTS_TMP
11          RICH_EMPLOYEES
12      meal_order_detail1
13      meal_order_detail2
14      meal_order_detail3

In [2]:
detail1 = pd.read_sql_table('meal_order_detail1', con=engine)
detail1.head(10)
detail1.shape

(2779, 19)

In [9]:
detail1 = pd.read_sql('select * from meal_order_detail1', con=engine)
detail1.head(5)
detail2 = pd.read_sql('select * from meal_order_detail2', con=engine)
detail2.shape
detail3 = pd.read_sql('meal_order_detail3', con=engine)
detail3.shape
detail3.head(2)
detail1.to_sql('test2', con=engine, index=False, if_exists='replace')

In [10]:
pd.read_sql_query('show tables', con=engine)

          Tables_in_testdb
0                CANDY_TBL
1             CUSTOMER_TBL
2   CUSTOMER_TBL_DUPLICATE
3                      EMP
4         EMPLOYEE_PAY_TBL
5             EMPLOYEE_TBL
6              EMP_PAY_TMP
7               ORDERS_TBL
8            POSITIONS_TBL
9             PRODUCTS_TBL
10            PRODUCTS_TMP
11          RICH_EMPLOYEES
12      meal_order_detail1
13      meal_order_detail2
14      meal_order_detail3
15                   test2

In [29]:
order = pd.read_csv('../data/meal_order_info.csv', sep=',', header=0, encoding='utf8')
order.shape
order.head(2)
order.to_sql('cf_order', con=engine)

In [30]:
pd.read_sql_query('show tables', con=engine)

          Tables_in_testdb
0                CANDY_TBL
1             CUSTOMER_TBL
2   CUSTOMER_TBL_DUPLICATE
3                      EMP
4         EMPLOYEE_PAY_TBL
5             EMPLOYEE_TBL
6              EMP_PAY_TMP
7               ORDERS_TBL
8            POSITIONS_TBL
9             PRODUCTS_TBL
10            PRODUCTS_TMP
11          RICH_EMPLOYEES
12                cf_order
13      meal_order_detail1
14      meal_order_detail2
15      meal_order_detail3
16                   test2

In [40]:
user = pd.read_excel('../data/users.xlsx', header=0, sheet_name='users1')
user.head(3)
user.to_excel('../data/users_info.xlsx')

In [72]:
import numpy as np
teacher_stu = pd.read_excel('../data/商学院19级学生导师明细表.xlsx')
len(set(teacher_stu['导师']))
teacher_stu.columns
np.int32(teacher_stu['学号'])
data_chen = teacher_stu.loc[teacher_stu['导师']=='陈放',:]
data_chen.to_excel(r'../tmp/'+'陈放'+'.xlsx')

In [99]:
不要再运行了import xlrd
import pandas as pd
from pandas import DataFrame
data_dir = '../data/'
excel_name = data_dir + '中山大学南方学院通讯录（190830）.xlsx'
wb = xlrd.open_workbook(excel_name)
sheets = wb.sheet_names()
nf_address = DataFrame()
for i in sheets[:-2]:
    df = pd.read_excel(excel_name, sheet_name=i, header=1, index=False, encoding='utf8')
    nf_address = nf_address.append(df, ignore_index=True)
    
nf_address.head(5)

,姓 名,科室,职 务,办公电话,手机/短号,E-mail,办公室,备注
0,喻世友,NaN,校长,6178-7390,13312893328,ysy@mail.sysu.edu.cn,1-308,学校领导
1,李建超,NaN,党委书记,6178-7168,13501525935,lijianchao@sysucc.org.cn,1-323,学校领导
2,唐燕,NaN,常务副校长、党委副书记,6178-7393,13926450718/666688,tangyan@mail.sysu.edu.cn,1-306,学校领导
3,黄静波,NaN,副校长,6178-7376,13922199011,lnshjb@mail.sysu.edu.cn,1-312,学校领导
4,龚鸣,NaN,副校长,6178-7831,13380095889,2431068646@qq.com,1-314,学校领导

In [101]:
nf_address.to_sql('nf_address',con=engine,index=False,if_exists='replace')

In [108]:
nf_address[750 : -1]

,姓 名,科室,职 务,办公电话,手机/短号,E-mail,办公室,备注
750,秦晓金,体育教学中心,教师,6178-7346,13719279956/659956,563140080@qq.com,2-222,体育
751,李国璋,体育教学中心,教师,6178-7346,13826441418/651418,1019697960@qq.com,2-222,体育
752,史悦红,体育教学中心,教师,6178-7346,13763349979,622008235@qq.com,2-222,体育
753,杨贵明,体育教学中心,教师,6178-7346,13570221133/661133,37398121@qq.com,2-222,体育
754,赵巍,体育教学中心,教师,6178-7346,13751764669/664669,51817979@qq.com,2-222,体育
755,崔薇,体育教学中心,教师,6178-7346,13826473479/663479,475805173@qq.com,2-222,体育
756,黎伯深,体育教学中心,救生员兼器材管理员,6178-7347,13533756226/676226,无,2-222,体育
757,禤艳芬,体育教学中心,教师,6178-7346,13926101470,591323439@qq.com,2-222,体育
758,孙宜辰,体育教学中心,教师,6178-7346,18121120317,422230763@qq.com,2-222,体育
759,刘禹彤,体育教学中心,教学秘书/教师,6178-7346,13610073665,546584722@qq.com,2-222,体育
760,连蒙蒙,体育教学中心,教师,6178-7346,13521677139,13521677139@163.com,2-222,体育
761,蔡小华,体育教学中心,教学秘书,6178-7346,13414134394,284778521@qq.com,2-222,体育
762,宋兰兰,体育教学中心,教师,6178-7346,13837246661,NaN,NaN,体育
763,陈盛涛,体育教学中心,教师,6178-7346,13727003619,NaN,NaN,体育
764,孙景超,体育教学中心,教师,6178-7346,18811438144,931159317@qq.com,NaN,体育
765,黄垚垚,体育教学中心,教师,6178-7346,13619849802,13619849802@163.com,NaN,体育
766,贾帅玲,体育教学中心,教师,6178-7346,15527155556,NaN,NaN,体育
767,刘金成,NaN,主任（兼）,6178-7805,18819494886/674886,jincheng.life@163.com,1-217,信息
768,陈海山,NaN,副主任,6178-7279,13570231525/651525,hysonyz@126.com,2-223,信息
769,傅晓梅,NaN,职员,6178-7265,13682211616/671616,742547178@qq.com,2-227,信息
770,黄静波,金融市场与动能预测研究中心,主任,6178-7376,1.39222e+10,lnshjb@mail.sysu.edu.cn,1-312,科研机构
771,林鸿文,金融市场与动能预测研究中心,副主任,NaN,1.58769e+10,fmmf@mail.nfu.edu.cn,NaN,科研机构
772,史娜,国家猎头与培训研究中心,副主任（兼）,NaN,1.58e+10,649617454@qq.com,2-113,科研机构
773,陈天祥,从化发展研究中心,主任,NaN,1.36097e+10,lpsctx@mail.sysu.edu.cn,6教-103,科研机构
774,陈天祥,公共安全研究中心,主任,NaN,1.36097e+10,lpsctx@mail.sysu.edu.cn,6教-103,科研机构
775,陈天祥,政府政策研究中心,主任,NaN,1.36097e+10,lpsctx@mail.sysu.edu.cn,6教-103,科研机构
776,杨光烈,安全生产责任保险研究所,教授,NaN,1.88265e+10,463340542@qq.com,NaN,科研机构
777,陈天祥,地方治理协同创新中心,主任,NaN,1.36097e+10,lpsctx@mail.sysu.edu.cn,6教-103,科研机构
778,寒竹,北美研究中心,所长,NaN,NaN,fashionland2002@yahoo.com,NaN,科研机构
779,丁夏荣,东亚研究中心,所长,NaN,1.50132e+10,2021hyc@naver.com,NaN,科研机构
780,梁森（Sim Leong）,华南澳大利亚研究中心,教师,NaN,1.36602e+10,sim.leong@foxmail.com,NaN,科研机构
781,卫建国,农村财务与会计研究中心,主任,6178-7350,1.86661e+10,mnswjg@126.com,5教-101,科研机构
782,熊锡源,翻译与多元文化研究中心,所长,NaN,1.35e+10,xiyuanx@163.com,NaN,科研机构
783,冯原,公共艺术研究中心,主任,6178-7152,1.38029e+10,von2000@126.com,4教-101,科研机构
784,杨智,电子与计算机应用技术研究所,主任,6178-7377,1.37102e+10,issyz@mail.sysu.edu.cn,2教-102,科研机构

In [118]:
nf_address.size

6288

In [126]:
a = np.array(['foo', 'foo', 'foo', 'foo', 'bar', 'bar', 'bar', 'bar', 'foo', 'foo', 'foo'], dtype=object)
b = np.array(['one', 'one', 'one', 'two',  'one', 'one', 'one','two', 'two', 'two', 'one'] ,dtype=object)
c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny", "shiny", "dull", "shiny", "shiny", "shiny"], dtype=object)
pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c'])
foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])


foo

[a, b]
Categories (3, object): [a, b, c]

In [136]:
?pd.

Object `pd.zip` not found.